<div class="container">
    <!-- Authentification -->
    <nav>
      <!-- tabs section -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-item nav-link active"
          id="nav-signup-tab"
          data-toggle="tab"
          href="#nav-signup"
          role="tab"
          aria-controls="nav-signup"
          aria-selected="true"
        >Create an account</a>

        <a
          class="nav-item nav-link"
          id="nav-signin-tab"
          data-toggle="tab"
          href="#nav-signin"
          role="tab"
          aria-controls="nav-signin"
          aria-selected="false"
        >I have an account</a>
      </div>
    </nav>
  <!-- tabs content -->
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-signup"
        role="tabpanel"
        aria-labelledby="nav-signup-tab"
      >
        <app-signup></app-signup>
      </div>
      <div
        class="tab-pane fade"
        id="nav-signin"
        role="tabpanel"
        aria-labelledby="nav-signin-tab"
      >
        <app-signin></app-signin>
      </div>
    </div>
</div>
