<div class="container">
  <!-- Sign In -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header"> Sign In </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="signInUsername">UserModel name</label>
              <input
                type="text"
                class="form-control"
                id="signInUsername"
                aria-describedby="emailHelp"
                placeholder="Enter user name"
              >
            </div>
            <div class="form-group">
              <label for="signInPassword">Password</label>
              <input
                type="password"
                class="form-control"
                id="signInPassword"
                placeholder="signInPassword">
            </div>
            <button type="submit" class="btn btn-info">Sign In</button>
          </form>
        </div>
    </div>
    </div>
  </div>
    <!-- Sign Up -->
    <div class="row mt-5">
      <div class="col-12">
        <div class="card">
          <div class="card-header"> Sign Up </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="signUpUsername">UserModel name</label>
                <input
                  type="text"
                  class="form-control"
                  id="signUpUsername"
                  aria-describedby="username"
                  placeholder="Enter user name"
                >
              </div>
              <div class="form-group">
                <label for="signUpPassword">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="signUpPassword"
                  placeholder="Password">
              </div>
              <div class="form-group">
                <label for="signUpPasswordConfirmation">Password confirmation</label>
                <input
                  type="password"
                  class="form-control"
                  id="signUpPasswordConfirmation"
                  placeholder="Password confirmation">
              </div>
              <button type="submit" class="btn btn-info">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
