<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          My profile
        </div>

        <div class="card-body">
          <h5 class="card-title">First name : {{user.first_name}}</h5>
          <p class="card-text">Last name : {{user.last_name}}</p>
          <p class="card-text">Email : {{user.email}}</p>
          <p class="card-text">Language: {{user.language}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card-header">
        My todo list
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Title : {{board.title}}</h5>
          <p class="card-text">description : {{board.description}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/todolist" class="btn btn-info">go to my todo list board</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
