<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row d-flex justify-content-between">
            <div class="col-6">{{user.title}}</div>
            <div class="col-6">
              <button class="btn btn-info" routerLink="/edit/profile">Edit my profile</button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row d-flex justify-content-between">
            <div class="col-6">
              <div class="avatar-container">
                <img [src]="userAvatar" alt="user-avatar" class="user-avatar">
              </div>
            </div>
            <div class="col-6 d-flex align-items-center ">
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title d-inline-flex">{{user.first_name}} {{user.last_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{user.email}} </h6>
                  <p class="card-text">Language: {{user.language}}</p>
                  <p class="card-text">Location: {{user.location}}</p>
                </div>
              </div>

            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 mr-3">
              <p class="card-text"> {{user.description}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card-header">
        My todo list
      </div>
      <div class="card">

        <!-- if user has board-->
        <div  *ngIf="hasBoard" class="card-body">
          <h5 class="card-title">Title : {{board.title}}</h5>
          <p class="card-text">description : {{board.description}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/todolist" class="btn btn-info">go to my todo list</a>
            </li>
          </ul>
        </div>
        <!-- if user has not a board -->
        <div  *ngIf="!hasBoard" class="card-body">
          <form>
            <div class="form-group row">
              <label for="board-title" class="col-sm-4 col-form-label">Enter your board title</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  name="boardTitle"
                  [(ngModel)]="boardTitle"
                  [class]="titleCssClass"
                  id="board-title"
                  (change)="onTitleChange(boardTitle)">
              </div>
            </div>
            <div class="form-group row">
              <label for="board-description" class="col-sm-4 col-form-label">Enter a description for your board</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  name="boardDescription"
                  [class]="descriptionCssClass"
                  [(ngModel)]="boardDescription"
                  id="board-description"
                  (change)="onDescriptionChange(boardDescription)">
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-11 d-flex justify-content-center">
              <button (click)="onCreateBoard()" class="btn btn-info">create my board</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
