<div class="container">
  <div class="row">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="avatar">Update your avatar</label>
          <input type="file" class="form-control-file" id="avatar" (change)="onChangeUserAvatar($event)">
        </div>
        <div class="form-group">
          <label for="firstname">Edit your first name</label>
          <input type="text" class="form-control" id="firstname">
        </div>
        <div class="form-group">
          <label for="lastname">Edit your last name</label>
          <input type="text" class="form-control" id="lastname">
        </div>
        <div class="form-group">
          <label for="email">Edit your email</label>
          <input type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="description">Edit your description</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
      </form>
      <button class="btn btn-info" (click)="getFile()">Submit</button>
    </div>
    <div class="col-6">
      <app-rendering></app-rendering>
    </div>
  </div>
</div>
